html, body{
	margin: 0 auto 0 auto;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}

footer{
	background-color: rgb(62, 61, 63);
	position: relative;
	bottom: 0;
	width: 100vw;
	font-size: 15px;
}

footer > div{
	height: 140px;
	display: flex;
	width: 100%;
	padding: 20px;
	color: white;
	padding-left: 0;
}

#footer-ball{
	align-self: center;
	background-color: white;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

#footer-logo{
	width: 90px;
	align-self: center;
}

.footer-link{
	text-decoration-color: transparent;
	color: white;
}

#footer-1{
	width: 33%;
}

#footer-2{
	border-left: 2px solid white;
	padding-left: 20px;
	width: 33%;
	justify-content: space-between;
	font-weight: bold;
}

#footer-3{
	border-left: 2px solid white;
	padding-left: 20px;
	justify-content: space-between;
	font-weight: bold;
}

.box-footer{
	display: flex;
	height: 35px;
	align-items: center;
}

footer > div > div{
	display: flex;
	flex-direction: column;
}

footer > div > div > div> img, .footer-link > img{
	width: 33px;
	margin: 0;
	margin-right: 15px;
}

#right-height{
	height: 35px;
}

#footer-line{
	border: 2px solid rgb(82, 86, 89);
}

/*----------------- Começo do Banner ---------------------*/

#banner{
	widows: 100vw;
	height: 100vh;
}

#banner img{
    width: 60vw;
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 175px auto 10px auto;
}

#banner #banner-text{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    color: rgb(109, 108, 110);
    font-size: 16px;
	text-align: center;
	margin: 0 auto 100px auto;
	display: block	;
}
/*banner mobile*/
@media(max-width:850px){ 

#banner{
    background-color: rgb(212,241,210); 
}

#banner img{
    width: 75vw;
    height: 25vh;
    margin: 100px auto 0 auto;
}

#banner #banner-text{
    font-size: 6px;
}
/*
.wave-banner1{
    width: 50vw;
    height: 100vh;
    background-color: 	rgb(78, 91, 82);
    -webkit-clip-path: circle(53.9% at 23% 100%);
    clip-path: circle(53.9% at 23% 100%);
}
.wave-banner2{
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    background-color: 	pink;
    -webkit-clip-path: circle(59.9% at 77% 100%);
    clip-path: circle(59.9% at 77% 100%);*/
}
/*--------------------------- Fim do Banner ---------------------------*/

/*--------------------------- Começo dos Serviços ---------------------*/

