html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

img{
	width: 100%;
	margin: 0;
}

#first-section{
	width: 100%;
	height: 750px;
	overflow: hidden;
	position: relative;
	top: 0;
}

.carousel{
	margin: 0;
	width: 100%;
	padding: 0;
	position: relative;
	top: -13px;
	height: 113%;
	z-index: 0;
}

.green-layer{
	width: 100%;
	height: 150%;
	background-color: rgba(140, 186, 78, 0.4);
	position: absolute;
	top: 0;
	pointer-events: none;
	z-index: 1000;
}

.title{
	width: 100%;
	position: absolute;
	top: 26px;
	text-align: center;
	color: white;
	font-size: 25px;
}

.title > img{
	width: 172px;
	margin-bottom: 0;
}

.title > p{
	margin-top: 4px;
}

#l1, #l2{
	position: absolute;
	width: 42%;
	top: 20%;	
}

#l1{
	left: 0;
}

#l2{
	right: 0;
}

#second-section{
	background: white;
	position: absolute;
	top: 750px;
	width: 100%;
	height: 110%;
	z-index: 1000;
}


section{
	color: #8CBA4E;
}

h2{
	font-size: 33px;
	font-weight: lighter;
}

#title-pics{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

#l11, #l22{
	border-top: 1px solid #8CBA4E;
	position: absolute;
	width: 40%;
	top: 69px;
}

#l11{
	left: 0;
}

#l22{
	right: 0;
}

#people{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	padding-left: 16%;
	padding-right: 16%;
	flex-wrap: wrap;
}

.box{
	width: 258px;
	height: 472px;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 0px 5px 1px rgba(189,189,189,1);
	position: relative;
}

.box > img{
	height: 424px;
	width: auto;
	position: relative;
	right: 25px;
}

.box > p{
	color: black;
	font-size: 26px;
	margin-top: 8px;
	margin-bottom: 8px;
	z-index: 1;
	position: relative;
}

#rafael, #victor, #pam{
	border-top: 1px solid #8CBA4E;
	position: relative;
	top: 26px;
	z-index: 1;
}

#rafael{
	width: 140px;
}

#victor{
	width: 150px;
}

#pam{
	width: 180px;
}

#adjust{
	right: 80px;
}

.number{
	display: flex;
	width: 65px;
	background-color: white;
	font-size: 25px;
	border-radius: 10px 10px 0 0;
	color: black;
	height: 35px;
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding-left: 5px;
}

.number > img{
	width: 30px;
}

.number > p{
	position: relative;
	left: 10px;
	bottom: 20px;
}

#third-section{
	background-color: #FBFDF9;
	position: absolute;
	top: 220%;
	height: 95%;
	width: 100%;
}

#title-send{
	margin-top: 50px;
	text-align: center;
	z-index: 3;
}

#l111, #l222{
	border-top: 1px solid #8CBA4E;
	width: 37%;
	position: absolute;
	top: 60px;
}

#l111{
	right: 0;
}

#l222{
	left: 0;
}

form{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
}

#data{
	display: flex;
	justify-content: center;
	width: 80%;
	flex-wrap: wrap;
}

input{
	background-color: #FBFDF9;
	border: none;
	border-bottom: 1px solid rgba(140, 186, 78, 0.4);
	font-size: 20px;
	width: 377px;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	outline-width: 0;
}

label{
	font-size: 12px;
	display: block;
}

::placeholder{
	color: rgb(220, 220, 220);
}

.block{
	margin: 55px;
	margin-top: 82px;
	margin-bottom: 0px;
}



#btn{
	color: rgb(140, 186, 78);
	text-decoration: none;
	font-size: 35px;
	width: 100%;
}

#btn-div{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

#feedback{
	width: 80%;
	border: none;
	border-bottom: 1px solid rgb(140, 186, 78);
}

textarea{
	width: 100%;
	height: 200px;
	background-color: #FBFDF9;
	border: none;
	text-decoration-style: none;
	outline-width: 0;
	resize: none;
	font-size: 16px;
}

#last-line{
	width: 60%;
	border-top: 1px solid rgb(140, 186, 78);
	margin-bottom: 20px;
}



@media(max-width: 1250px) {
    #l1, #l2 {
        width: 38%;
    }

    #l11, #l22{
    	width: 36%;
    }

    #l111, #l222{
    	width: 32%;
    }

    #people{
    	padding-left: 5%;
    	padding-right: 5%;
    }

    #second-section{
    	top: 650px;
    }
}

@media(max-width: 1000px){
	#second-section{
		top: 540px;
	}
}

@media(max-width: 900px){
	.box{
		margin-right: 100px;
		margin-left: 100px;
	}

	#second-section{
		top: 500px;
	}

	#third-section{
		top: 2200px;
	}


	.box{
		margin-bottom: 50px;
	}

    #l1, #l2 {
        width: 32%;
    }

    #l11, #l22{
    	width: 32%;
    }

    #l111, #l222{
    	width: 28%;
    }

    .title > img{
		width: 140px;
	}

@media(max-width: 800px){
	#second-section{
		top: 440px;
	}

	#third-section{
		top: 2150px;
	}

	.title > img{
		width: 100px;
	}

	.title p{
		font-size: 20px;
	}

	#l11, #l22{
    	width: 30%;
    }

    #l111, #l222{
    	width: 22%;
    }
}

@media(max-width: 700px){
	#second-section{
		top: 370px;
	}

	#third-section{
		top: 2100px;
	}

	#l11, #l22{
    	width: 30%;
	}
}

@media(max-width: 600px){
	#l1, #l2 {
        width: 20%;
    }

    #l11, #l22{
    	width: 27%;
    }

    #l111, #l222{
    	width: 18%;
    }

    #second-section{
    	top: 320px;
    }

    #third-section{
    	top: 2050px;
    }
}

@media(max-width: 500px){
	.box{
		margin: 0;
	}

	.box{
		margin-bottom: 30px;
	}

	#second-section{
		top: 270px;
	}

	#third-section{
		top: 1950px;
	}

	#l11, #l22{
    	width: 22%;
    }

    #l111, #l222{
    	width: 13%;
    }
}

@media(max-width: 430px){
	#second-section{
		top: 190px;
	}

	#third-section{
		top: 1900px;
	}

	#l11, #l22{
    	width: 12%;
    }

    #l111, #l222{
    	width: 3%;
    }

    input{
    	width: 270px;
    }

    h2{
    	font-size: 30px;
    }
}
